@page "/roomType"

@inject Services.DatabaseServices DatabaseServicesInstance


<MudContainer Class="mt-16">
    <MudText Typo="Typo.h3" Align="Align.Center" GutterBottom="true">Rooms Types</MudText>
    <MudText Align="Align.Center"> Welcome to our cozy and well-appointed rooms designed to make your stay comfortable and enjoyable.</MudText>
    <MudGrid Class="mt-8">
        <MudItem xs="12" sm="6" md="4">
            <MudCard Elevation="25" Class="rounded-lg pb-4">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5" Align="Align.Center">Standard</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <div class="d-flex justify-center">
                        <MudText Typo="Typo.h5" Class="ml-1 mt-5" Color="Color.Secondary">From </MudText>
                        <MudText Typo="Typo.h3">@PriseSingleStandart @Curency.ToUpper()</MudText>
                        <MudText Typo="Typo.h5" Class="ml-1 mt-5" Color="Color.Secondary">/Per nat</MudText>
                    </div>
                    <MudList T="string" Class="mx-auto mt-4" Style="width:300px;">
                        <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                            Unlimited something
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                            10 something
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                            No something
                        </MudListItem>
                    </MudList>
                </MudCardContent>
                <MudCardActions Class="d-flex justify-center">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width:50%;">See rooms</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudCard Elevation="25" Class="rounded-lg pb-4">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5" Align="Align.Center">Premium</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <div class="d-flex justify-center">
                        <MudText Typo="Typo.h5" Class="ml-1 mt-5" Color="Color.Secondary">From</MudText>
                        <MudText Typo="Typo.h3">@PriseSinglePremium @Curency.ToUpper()</MudText>
                        <MudText Typo="Typo.h5" Class="ml-1 mt-5" Color="Color.Secondary">/Per nat</MudText>
                    </div>
                    <MudList T="string" Class="mx-auto mt-4" Style="width:300px;">
                        <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                            Unlimited something
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                            10 something
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                            No something
                        </MudListItem>
                    </MudList>
                </MudCardContent>
                <MudCardActions Class="d-flex justify-center">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width:50%;">See rooms</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
        <MudItem xs="12" sm="12" md="4">
            <MudCard Elevation="25" Class="rounded-lg pb-4">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5" Align="Align.Center">Penthouse</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <div class="d-flex justify-center">
                        <MudText Typo="Typo.h3">@PrisePenthouse @Curency.ToUpper()</MudText>
                        <MudText Typo="Typo.h5" Class="ml-1 mt-5" Color="Color.Secondary">/Per nat</MudText>
                    </div>
                    <MudList T="string" Class="mx-auto mt-4" Style="width:300px;">
                        <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                            Unlimited something
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                            10 something
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                            No something
                        </MudListItem>
                    </MudList>
                </MudCardContent>
                <MudCardActions Class="d-flex justify-center">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width:50%;" Href="/roomtest">See rooms</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</MudContainer>


@code {
    private int PriseSingleStandart = 0;
    private int PriseDoubleStandart = 0;
    private int PriseSinglePremium = 0;
    private int PriseDoublePremium = 0;
    private int PrisePenthouse = 0;
    private string Curency = "DKK";

    protected override async Task OnInitializedAsync()
    {
        await GetAllRoomsTypes();
    }

    async Task GetAllRoomsTypes()
    {
        var rooms = await DatabaseServicesInstance.GetAllRoomsTypes();

        foreach (var room in rooms)
        {
            switch (room.Type)
            {
                case "standart single":
                    PriseSingleStandart = room.Price;
                    break;
                case "standart double":
                    PriseDoubleStandart = room.Price;
                    break;
                case "premium single":
                    PriseSinglePremium = room.Price;
                    break;
                case "premium double":
                    PriseDoublePremium = room.Price;
                    break;
                case "penthouse":
                    PrisePenthouse = room.Price;
                    break;
            }
        }
    }
}